body {
  overflow: hidden;
  height: 100vh;
}
.orbsOrderContainer {
  pointer-events: none;
  transform-origin: bottom;
  bottom: 3%;
  right: 10%;
  height: 450px;
  position: absolute;
}
img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upNextContainer {
  pointer-events: none;
  top: 9%;
  left: 83%;
  position: absolute;
  > p {
    color: black;
  }
}
.scoreBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 20%;
  aspect-ratio: 1/1;
  top: 2%;
  left: 6%;
  position: absolute;
  > * {
    position: absolute;
  }
}
.scoreStats {
  margin-top: 40%;
  z-index: 10;
  text-align: center;
}

p {
  color: black;
  font-size: 1.5rem;
  margin: 0;
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  height: 100px;
  width: 300px;
}

.btn-start:hover {
  background-color: #62de66;
  cursor: pointer;
}
